extends ../shared/template

block content
  #newListingTitle
    h2 Create a New Listing

  .row
    .small-6.small-centered.columnsi
      #newListingWrapper
        form#newListingForm(action='/items', method='post', enctype='multipart/form-data')
          label Name
            input(name='name', type='text', autofocus=true, required)
          label Day Rate
            input(name='amount', type='text', placeholder='USD', required)
          label Address
            input(name='address', type='text', required)
            input(name='lat', type='hidden')
            input(name='lng', type='hidden')
          label Dates Available
            input(name='reservations', type='date', placeholder='', required)
          label Photo
            input(name='photo', type='file', required)
          #smallSpacer
          .row
            .small-12.small-centered.columns
              #createListingTextAreaWrapper
                h3 DESCRIPTION
                textarea(name='description', cols='500', rows='15', form='createItemForm', placeholder='Tell us about your property!', required)

                button#createListingBtn.tiny.radius Submit New Listing

block scripts
  script(src='/js/source/new-listing.js')

