extends ../shared/template

block content
  h1= title

  form(method='post', action='/listings', enctype='multipart/form-data')
    fieldset
      label Name
      input(type='text', name='name')
      label Address
      input(type='text', name='address')
      label Day Rate
      input(name='amount', type='text', placeholder='USD', required)
      label Dates Available
      input(name='reservations', type='date', placeholder='', required)
      input(type='hidden', name='lat')
      input(type='hidden', name='lng')
      label Photo
      input(name='cover', type='file', required)
      label Describe Your Listing
      textarea(name='description', cols='500', rows='15', form='createItemForm', placeholder='Tell us about your property!', required)
      button#create Create Listing

block scripts
  script(src='/js/source/new-listing.js')

