extends ../shared/template

block content
  h1= title

  form(method='post', action='/listings')
    label Name
    input(type='text', name='name')
    label Amount
    input(type='text', name='amount')
    label Address
    input(type='text', name='address')
    input(type='hidden', name='lat')
    input(type='hidden', name='lng')
    button#create Create Listing

block scripts
  script(src='/js/source/new-listing.js')

