extends ../shared/template

block content
  .row
    .small-6.columns
      img(src= listing.cover).item-img-large
    .small-6.columns
      h1= listing.name
      h2= listing.description

block scripts
