extends ../shared/template

block content
  input(type='hidden', value= artist._id.toString())
  .row
    .small-11.columns.panel.small-centered
      div
        .row
          .small-3.columns
            img.borderStyle(src= gravatar).user-img
          .small-9.columns
            h3= artist.name
            h5: a(href='mailto:'+artist.email+'')= artist.email
  .row
    .small-11.columns
      h1 Reservations
      ul
        each listing in listings
          li
            h3: a(href='/listings/'+listing._id): span= listing.name
            h4: Address: #{listing.address}
            h4: Day Rate: $#{listing.amount}

            ul
              each reservation in listing.reservations
                li= reservation.reservedDate.toDateString()

