doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/foundation.min.css')
    link(rel='stylesheet', href='/less/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    nav.top-bar
      ul.title-area
        li.name
          h1: a(href="/") AirBnB - Node.js
        li.toggle-topbar.menu-icon
          a(href="#") Menu

      section.top-bar-section
        ul.left
        ul.right
          if user
            li: a(href='/users/'+user._id) Welcome, #{user.name}!
            li.divider
            li: a(href="/listings") Listings
            li.divider
            li: a(href="/listings/new") New Listing
            li.divider
            li: a(href="/logout") Logout
          else
            li.has-form: a(href='/auth/facebook').button.radius Facebook Login
          //
            if user.role === owner
            li.divider
            li: a(href="/users/ownerShow") Profile
            if user.role === artist
            li.divider
            li: a(href="/users/artistShow") Profile
    .row
      .small-12.columns#centerWrap(style='height:100%')
        block content

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.min.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&key=AIzaSyAg7BExWsO3xkC80yWGVtWKCrA_eFr-M34')
    script(src='/js/source/main.js')
    block scripts

