doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/less/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    nav.top-bar
      ul.title-area
        li.name
          h1: a(href="/") The Title
        li.toggle-topbar.menu-icon
          a(href="#") Menu

      section.top-bar-section
        ul.left
        ul.right
          li: a(href="/") Home
          li.divider
          li: a(href="/") Register
          li.divider
          li: a(href="/") Login
    .row
      .small-12.columns
        block content

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.min.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')

