extends ../shared/template

block content
  h1.homeTitle= title

  ul(class="example-orbit" data-orbit)
    li
      img(src="/img/homePhotos/FilmShoot1.jpg", alt="slide 1")
      div(class="orbit-caption")
        Caption No More Wasted Production Time Scouting Locations
    li
      img(src="/img/homePhotos/FilmShoot2.jpg", alt="slide 2")
      div(class="orbit-caption")
        Caption Make Extra Money with Your Property
    li
      img(src="/img/homePhotos/FilmShoot3.jpg" alt="slide 3")
      div(class="orbit-caption")
        Caption Search By Where You Want To Shoot
    li
      img(src="/img/homePhotos/FilmShoot5.jpg" alt="slide 4")
      div(class="orbit-caption")
        Caption Connect with property owners directly and quickly
